@import 'tailwindcss';

body {
  -webkit-font-smoothing: antialiased;
  @apply flex flex-col min-h-svh bg-gradient-to-t from-[oklch(0.56_0.3_298.3)] to-[oklch(0.93_0.0814_82.92)]  text-[#362e6f] font-sans;
  touch-action: pan-y;
}

#root {
  @apply flex flex-col flex-1 items-center px-5 pt-16 pb-8 gap-16 backdrop-blur-3xl;
}

@theme {
  --font-sans: 'Kirang Haerang', system-ui;
}
